# Datasets (demasiado grandes para git)
dataset/
dataset_augmented/
dataset_model_ready/

# Entorno virtual
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Modelos descargados
*.pt
*.pth
*.h5
*.keras
*.safetensors

# Archivos generados en el EDA
eda_dataframe.csv
splits_original.csv
prepared_dataframe.csv
class_to_idx.json

# Archivos generadps en ImageClassification
classification_results.csv
qualitative_predictions_test.csv

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
